<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="49810WorldPilotsLogbook.PilotsLogbook" Publisher="CN=66B17444-BE7E-46FA-B8C6-32394219182A" Version="1.0.0.6" />
  <Properties>
    <DisplayName>PilotsLogbook</DisplayName>
    <PublisherDisplayName>World Pilots Logbook</PublisherDisplayName>
    <Logo>Assets\StoreLogoLogBook.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="LogbookApp.App">
      <VisualElements DisplayName="Pilot's Logbook" Logo="Assets\3937820236_de190f8378.jpg" SmallLogo="Assets\SmallLogo.png" Description="LogbookApp" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\3937008655_355989317c.jpg" BackgroundColor="black" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>