<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="5b615a7e-0df5-4862-b3d7-2287ede3a081"
            Publisher="CN=David"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>DefaultDataLoader</DisplayName>
    <PublisherDisplayName>David</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="DefaultDataLoader.App">
        <VisualElements
            DisplayName="DefaultDataLoader"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="DefaultDataLoader"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>